/* body * {
  border: 1px solid red;
} */

@font-face {
  font-family: "OSBI";
  src: URL("./fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OS";
  src: URL("./fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OSI";
  src: URL("./fonts/OpenSauceOne-Italic.ttf") format("truetype");
}

body * {
  font-family: "OS";
  font-size: 15px;
}

.OSBI {
  font-family: "OSBI";
}

.OS {
  font-family: "OS";
}

.OSI {
  font-family: "OSI";
}

.nav ul li {
  list-style-type: none;
}

.nav {
  align-items: center;
}

.br {
  border-radius: 0px;
}

.hero--image {
  background-image: url("./media/ukraine.png");
  background-size: cover;
  background-position: center;
}

.hero--logo {
  background-image: url("./media/me.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background-position: center;
  align-self: center;
  margin: auto;
}

.hero--textbox {
  margin: auto;
  max-width: 250px;
}

.hero--padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link {
  color: rgb(204, 204, 204);
  text-decoration: none;
}

.link:hover {
  color: rgb(0, 0, 0);
}

.logo {
  font-size: 20px;
}

.up {
  margin-top: -30px;
}

.top--bg {
  background: rgb(255, 255, 255);
}

.bg {
  background-image: url("media/diamond2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: auto;
  background-image: url("./media/fadesmall.png");
  background-size: cover;
  transform: rotate(180deg);
}

.shop--video {
  background-image: url(./media/ShopHeader.webm);
}

.shop--card {
  height: 100px;
  margin-top: -65px;
  position: relative;
  z-index: 100000;
  background-color: white;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  transition: 0.2s;
}

button:hover {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 25px;
}

.scroll {
  overflow: hidden;
}

.video {
  height: 400px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
